
.container{
    width: 70%;
    margin: 0 auto;
}
.productsContainer{
    background-color: rgb(56, 128, 241);
    color: white;
}
.contentHere{
    background-color: black;
}
.contentHere  p{
    padding: 2rem 0;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.productsContainer > .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    flex-wrap: wrap;
}
.productCard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 20%;
}
.productCard img{
    margin: 0 1rem;
    height: 3rem;
}
.productCard p{
    text-transform: uppercase;
}